.resize {
  position: absolute;
  width: 6px;
  height: 6px;
  background: blue;
  z-index: 999;
  cursor: e-resize;
}
.top {
  top: -3px;
  left: calc(50% - 3px);
}
.bottom {
  bottom: -3px;
  left: calc(50% - 3px);
}
.left {
  top: calc(50% - 3px);
  left: -3px;
}
.right {
  top: calc(50% - 3px);
  right: -3px;
}
.top-left {
  top: -3px;
  left: -3px;
}
.top-right {
  top: -3px;
  right: -3px;
}
.bottom-left {
  bottom: -3px;
  left: -3px;
}
.bottom-right {
  bottom: -3px;
  right: -3px;
}
