.dropdown-item {
  line-height: 30px;
  width: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #191970;
  font-size: 12px;
}
.dropdown-item:last-child {
  border-bottom: none;
}
.dropdown-item:nth-child(2) span,
.dropdown-item:nth-child(3) span {
  margin-left: 0;
}
.dropdown-item:nth-child(1) span,
.dropdown-item:nth-child(4) span,
.dropdown-item:nth-child(5) span {
  margin-left: 6px;
}
.dropdown-item:hover {
  opacity: 0.4;
  cursor: pointer;
}
