.editor {
  width: 100%;
  height: 100%;
}
.editor > .left,
.editor > .right {
  position: absolute;
  background-color: salmon;
  top: 0;
  bottom: 0;
  width: 270px;
}
.editor > .right {
  right: 0;
}
.editor > .left {
  left: 0;
}
.editor > .left .left-item {
  width: 250px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
  cursor: move;
  user-select: none;
  position: relative;
}
.editor > .left .left-item > span {
  position: absolute;
  top: 0;
  left: 0;
  background: #60cde0;
  color: white;
  padding: 4px;
  font-size: 12px;
}
.editor > .left .left-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  opacity: 0.2;
}
.editor > .top {
  position: absolute;
  right: 280px;
  left: 280px;
  height: 80px;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor > .editor-container {
  padding: 90px 280px 0;
  height: 100%;
  box-sizing: border-box;
  background-color: sienna;
}
.editor > .editor-container .canvas-container {
  overflow: scroll;
  height: 100%;
}
.editor > .editor-container .canvas-container .canvas {
  position: relative;
  background-color: rebeccapurple;
}
.editor > .editor-container .canvas-container .canvas .line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red;
}
.editor > .editor-container .canvas-container .canvas .line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px dashed red;
}
