.editor {
  width: 100%;
  height: 100%;
  & > .left,
  & > .right {
    position: absolute;
    background-color: salmon;
    top: 0;
    bottom: 0;
    width: 270px;
  }
  & > .right {
    right: 0;
  }
  & > .left {
    left: 0;
    .left-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 40px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      position: relative;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(96, 205, 224);
        color: white;
        padding: 4px;
        font-size: 12px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ccc;
        opacity: 0.2;
      }
    }
  }
  & > .top {
    position: absolute;
    right: 280px;
    left: 280px;
    height: 80px;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > .editor-container {
    padding: 90px 280px 0;
    height: 100%;
    box-sizing: border-box;
    background-color: sienna;
    .canvas-container {
      overflow: scroll;
      height: 100%;
      .canvas {
        position: relative;
        background-color: rebeccapurple;
        .line-x {
          position: absolute;
          top: 0;
          bottom: 0;
          border-left: 1px dashed red;
        }
        .line-y {
          position: absolute;
          left: 0;
          right: 0;
          border-bottom: 1px dashed red;
        }
      }
    }
  }
}
